asset/
backup/
log/
/*.ini

service/certbot/**
!service/certbot/options-ssl-nginx.conf
!service/certbot/ssl-dhparams.pem

service/mariadb/database/
service/mariadb/init/**
!service/mariadb/init/.gitkeep
service/mariadb/config.env
service/nginx/private/
service/nginx/helper/block

service/mongo/
!service/mongo/.gitkeep
service/uptime/
!service/uptime/.gitkeep

www/html/**
!www/html/dump.php_
!www/html/index.php
!www/html/robots.txt
