asset/
backup/
/*.ini

certbot/data/

mariadb/config/init/
mariadb/config/config.env
mariadb/data/

mongo/data/

mosquitto/data/
mosquitto/log/

nginx/config/private/
nginx/log/

php/log/

uptime/data/

www/html/**
!www/html/dump.php_
!www/html/index.php
!www/html/robots.txt
distro.sh
