asset/
backup/
/*.ini

mariadb/config/init/
mariadb/config/config.env
mariadb/data/

nginx/config/private/
nginx/log/

php/log/

certbot/data/
certbot/log/

mongo/data/

uptime/data/

guacamole/config/init/

mosquitto/data/
mosquitto/log/

www/html/**
!www/html/dump.php_
!www/html/index.php
!www/html/robots.txt
distro.sh
